/* Coolors Exported Palette - coolors.co/6c698d-000000-e6e6e9-494850-009ffd */

/* HSL */
$color1: hsla(245%, 15%, 48%, 1); // light purple
$color2: hsla(0%, 0%, 0%, 1);     // black
$color3: hsla(240%, 6%, 91%, 1);  // pretty white
$color4: hsla(248%, 5%, 30%, 1);  // graphite
$color5: hsla(202%, 100%, 50%, 1);// blue

/* RGB */
$color1: rgba(108, 105, 141, 1); // light purple
$color2: rgba(0, 0, 0, 1);       // black
$color3: rgba(230, 230, 233, 1); // pretty white
$color4: rgba(73, 72, 80, 1);    // graphite
$color5: rgba(0, 159, 253, 1);   // blue
