 @import "../../styles/colors";

$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  linkedin: #0077b5,
  reddit: #ff4500,
  github: #333,
  keybase: #33A0FF,
  email: $graphite,
  xing: #026466,
);

@each $brand, $color in $brand-colors {
  .#{$brand} {
    color: $color;
    border: 1px solid $color;
    padding: 4px 7px;
    border-radius: 3px;
    height: 32px; // hack
    font-size: 0.75rem;

    &:hover {
      background-color: $color;
      border-color: $color;
      color: #fff;
    }
  }
}

.icon {
  margin-right: 2px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  grid-gap: 1rem;

  a {
    text-decoration: none;
  }
}
