.main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  .main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 700px;
  }
}

.date {
  font-size: 0.75rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.main h3 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.main h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.navigation {
  margin: 0;
}

.navigation li {
  list-style: none;
}

.navigationButton {
  color: #9eabb3;
  border: 1px solid #9eabb3;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 0.6rem;
}

.navigationButton svg {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.previous {
  float: left;
}

.next {
  float: right;
}

