@import '../styles/colors';

.main {
  width: 90%;
  margin: 1rem auto;

  @media (min-width: 800px) {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 700px;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.15rem;
}

.metadata {
  margin-bottom: 2rem;
}

.date {
  font-size: 0.75rem;
}

.navigation {
  margin: 0;

  li {
    list-style: none;
  }
}

.navigationButton {
  color: $darker-graphite;
  border: 1px solid $graphite;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 0.6rem;

  svg {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(-2px);
  }

  &:hover {
    background: $light-grey;
  }
}

.previous {
  float: right;
}

.next {
  float: left;
}

