{% extends "base.njk" %}
{% block content %}
    {% include "header.njk" %}
        <article class="stack text-gray-800">
        <h1 class="text-center text-gray-900 text-size-xxl"><em class="text-brand">Engineer.</em> Coach. Photographer</h1>
        <div class="text-lighter stack-small">
            {{ content | safe }}
        </div>
    </article>
{% endblock %}
