{% extends "base.njk" %}
{% block content %}
    <header class="stack-small">
        <a href="/about">
            <img class="selfie center" alt="Selfie of Felipe Sere" src="/assets/felipe.jpg">
        </a>
        <p class="text-center text-gray-300 uppercase">
            Felipe Seré
        <p>
    </header>

    <article>
        <h1 class="text-center text-gray-900 text-size-xxl"><em class="text-brand">Engineer.</em> Coach. Photographer</h1>
        <div class="text-lighter stack-small">
            {{ content | safe }}
        </div>
    </article>
{% endblock %}
