<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/main.css">
    <script async defer data-domain="felipesere.com" src="https://plausible.io/js/plausible.js"></script>
    <title>Felipe Seré</title>
  </head>
  <body class="center">
      <nav class="horizontal space-around text-gray-300 text-size">
        <a href="/">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="/about">About</a>
        <a href="/design">Design</a>
      </nav>

      <main>
        {% block content %}{% endblock %}
      </main>

      <footer class="center">
        <p class="text-gray-200 text-center">Felipe Seré © 2020<p>
      </footer>
  </body>
</html>
