{% extends "base.njk" %}
{% block content %}
{{ content | safe }}

<table>
  <tbody class="stack-small">
    {%- for blog in collections.blogs | reverse -%}
    <tr>
      <td><a href="{{ blog.url }}">{{- blog.data.title -}}</a></td>
      <td><time datetime="{% machineDate blog.data.date %}" class="text-gray-500">{% humanDate blog.data.date %}</time></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
