{% extends "base.njk" %}
{% block content %}
    {{ content | safe }}

    <table>
        <tbody class="stack-small">
        {%- for blog in collections.blogs | reverse -%}
            <tr>
                <td><a href="{{ blog.url }}">{{- blog.data.title -}}</a></td>
                <td><p class="text-gray-300">{% humanDate blog.data.date %}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
