{% extends "base.njk" %}
{% block content %}
<div class="stack-small">
  {{ content | safe }}
  
  <div class="grid">
  {%- for g in collections.garden | reverse -%}
    <div class="cell">
      <h3><a href="{{ g.url }}">{{- g.data.title -}}</a></h3>
      <p>{{- g.data.content | safe | truncate(75, true, "...") -}}</p>
      <div class="metadata">
        <time datetime="{% machineDate g.data.date %}" class="text-gray-500">{% humanDate g.data.date %}</time>
        {% set growth = g.data.growth %}
        {% include "growth-emoji.njk" %} 
      </div>
    </div>
  {% endfor %}
  </div>
  {% endblock %}
</div>
