<header class="stack-small">
    <a href="/about">
        <img class="selfie center" alt="Selfie of Felipe Sere" src="/assets/felipe--WebP.webp">
    </a>
    <p class="text-center text-gray-300 uppercase">
        Felipe Seré
    <p>
</header>
