<!-- build sha: {{ env.sha }} -->
<header class="stack-small">
  <a href="/about">

    <picture>
      <source srcset="/assets/felipe--WebP.webp" type="image/webp">
      <source srcset="/assets/felipe-small.jpeg" type="image/jpeg">
      <img class="selfie center" alt="Selfie of Felipe Sere" src="/assets/felipe-small.jpeg">
    </picture>
  </a>
  <p class="text-center text-gray-500 uppercase">
    Felipe Seré
  <p>
</header>
