{% extends "base.njk" %}
{% block content %}
    {% inlucde "header.njk" %}

    <article class="stack text-center text-gray-800">
        <h1 class="text-size-m"><em class="text-brand">Engineer.</em> Coach. Photographer</h1>
        <div class="text-lighter">
            {{  content | safe }}
        </div>

        {% include "networking.njk" %}
    </article>
{% endblock %}
