@import "../styles/utils";
@import "../styles/colors";

.adventTop {
  @include core-width;
}

.adventDay {
  @include core-width;
  @include shadow;

  display: flex;
  margin-bottom: 25px;
  background: white;
  border-radius: 10px 0 0 10px;
}

.title {
  margin-left: 10px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}

.modalTitle {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.prose {
  & * {
    font-size: 0.8rem;
  }

  li {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 10px;
  }
}
