@import "../styles/utils";
@import "../styles/colors";

$squareSize: 60px;

.adventTop {
  @include core-width;
}

.adventDay {
  @include core-width;
  @include shadow;

  display: flex;
  margin-bottom: 25px;
  background: white;
  border-radius: 10px 0 0 10px;
}

.main {
  margin-left: 10px;
  text-align: center;
}

.title {
  margin-top: 20px;
}

.modal {
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
