.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
}

.tagline {
    font-size: 12vw;
    word-spacing: 100vw;
}

@media (min-width: 800px) {
    .tagline {
        font-size: 4.5vw;
    }
}

.tagline strong {
    color: rgba(0, 159, 253, 1); /* blue */
}

.socialIcon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

