.content {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.75rem;
}


.tagline {
  font-size: 3rem;
  word-spacing: 100vw;
}

@media (max-width: 1280px) {
  .tagline {
    font-size: 2rem;
  }
}

.tagline strong {
  color: rgba(0, 159, 253, 1);   /* blue */
}
