.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.tagline {
  font-size: 12vw;
  word-spacing: 100vw;

  @media (min-width: 800px) {
    font-size: 4.5vw;
  }
}

.tagline strong {
  color: rgba(0, 159, 253, 1); /* blue */
}

.socialIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.splitLists {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  vertical-align: top;
  font-size: 0.75rem;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: rgba(0, 159, 253, 1);
      transition: 0.25s;
    }
  }
}

.list {
  margin-right: 60px;

  h1 {
    font-size: 0.65rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }

  ol {
    list-style: none;
    margin: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
