.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.tagline {
  font-size: 48px;
}

.outboundLinks {
}
