@import '../styles/colors';

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.name {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.tagline {
  font-size: 12vw;
  word-spacing: 100vw;

  @media (min-width: 800px) {
    font-size: 4.5vw;
  }

  strong {
    color: $blue;
  }
}

.separator {
  border: 0;
  height: 1px;
  width: 50%;
  margin: 0 auto 1em auto;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.reachMe {
  margin-right: 1em;
  font-size: 0.8rem;

  @media (min-width: 800px) {
    float: left;
  }
}

.social {
  margin-bottom: 2rem;
}
