@import '../styles/colors';

.content {
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.name {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.tagline {
  font-size: 12vw;
  word-spacing: 100vw;

  @media (min-width: 800px) {
    font-size: 4.5vw;
  }

  strong {
    color: $blue;
  }
}

.socialIcon {
  width: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.list {
  font-size: 0.75rem;
  margin-top: 2rem;

  h1 {
    font-size: 0.65rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }

  ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
  }

  li {
    margin-right: 1.5rem;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $blue;
      transition: 0.25s;
    }
  }
}
