@import '../styles/colors';

$swift-grey: #d3d3d3;

.showCase {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.15s ease-in-out;
  }

  @media (min-width: 800px) {
    flex-direction: row;
    height: 350px; // I want something better here!

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1200px) {
    width: 70%;
  }
}

.showCaseImage {
  border: 3px $blue solid;  // graphite
  border-radius: 3px;
  width: 100%;

  @media (min-width: 800px) {
    width: 50%;
  }
}

.separator {
  border: 0;
  height: 1px;
  width: 50%;
  margin: 0 auto 1em auto;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.description {
  padding: 0 1em 0 1em;
  width: 100%;
  font-size: 0.75rem;

  h1 {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: 800px) {
    width: 50%;
  }
}
