@import '../styles/colors';

$swift-grey: #d3d3d3;

.main {
  background: $light-grey;
  padding-bottom: 5rem;
}

.title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  strong {
    color: $blue;
  }
}

.showCases {
  padding-top: 5rem;
}

.showCase {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 327px; // Awful hack!
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  background: $swift-grey;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.showCaseImage {
  width: 50%;
}

.separator {
  border: 0;
  height: 1px;
  width: 50%;
  margin: 0 auto 1em auto;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.description {
  padding: 0 1em 0 1em;
  width: 50%;
  font-size: 0.75rem;

  h1 {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

}
