{% extends "base.njk" %}

{% block content %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: var(--s1);
        }

        .columns {
            column-width: 200px;
            column-gap: var(--s0);
        }

        .boxed {
            border: var(--s-3) solid var(--gray-900);
            background-color: white;
            padding: var(--s-3);
        }

        .box-background {
            background-color: var(--gray-100);
        }

        .inline {
            display: inline;
        }

        .m-5 {
            margin-left: var(--s-5);
        }

        .m-4 {
            margin-left: var(--s-4);
        }

        .m-3 {
            margin-left: var(--s-3);
        }

        .m-2 {
            margin-left: var(--s-2);
        }

        .m-1 {
            margin-left: var(--s-1);
        }

        .m0 {
            margin-left: var(--s0);
        }

        .m1 {
            margin-left: var(--s1);
        }

        .m2 {
            margin-left: var(--s2);
        }

        .m3 {
            margin-left: var(--s3);
        }

        .m4 {
            margin-left: var(--s4);
        }

        .m5 {
            margin-left: var(--s5);
        }
    </style>
    <h1>Welcome to my design page</h1>
    <div class="stack">
        <section>
            <h2>Text colors</h2>
            <div class="grid">
                {% for shade in [50, 100, 200, 300, 400, 500, 600, 700, 800, 900] %}
                    <code class="text-gray-{{ shade }}">
                        .text-gray-{{ shade }}
                    </code>
                {% endfor %}
                <code class="text-brand">.text-brand</code>
            </div>
        </section>

        <section>
            <h2>Text styles</h2>
            <div class="stack-small">
                <div class="boxed">
                    <p>This is normal text</p>
                </div>
                <div class="boxed">
                    <p class="text-center">This is using<code> .text-center</code></p>
                </div>

                <div class="boxed">
                    <p class="text-lighter">This is using<code> .text-lighter</code></p>
                </div>

                <div class="boxed">
                    <p class="uppercase inline">This is using</p><code> .uppercase</code>
                </div>
                <div class="boxed">
                    <code>This is &lt;/code &gt;</code>
                </div>
            </div>
        </section>

        <section>
            <h2>Text sizes</h2>
            <div class="stack-small">
                {% for size in ["-xs", "-s", "", "-m", "-l", "-xl", "-xxl"] %}
                    <p class="text-size{{- size -}}">This text is <code>.text-size{{- size -}}</code></p>
                {% endfor %}
            </div>
        </section>

        <section>
            <h2>Spacing</h2>
            <div class="stack">
                <div>
                    <p>Spacing applied to <code>margin-left</code></p>
                    <div class="columns stack-small">
                        {% for size in [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5] %}
                            <div class="box-background half-width">
                                <p class="boxed inline m{{- size -}}"><code>--s{{- size -}}</code></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <code>.small-stack</code>
                    <div class="stack-small box-background">
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                    </div>
                </div>

                <div>
                    <code>.stack</code>
                    <div class="stack box-background">
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                    </div>
                </div>

                <div class="stack-small">
                    <div>
                        <code>.horizontal .space-around</code>
                        <div class="horizontal space-around box-background">
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                        </div>
                    </div>


                    <div>
                        <code>.horizontal .space-evenly</code>
                        <div class="horizontal space-evenly box-background">
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}