@import '../styles/utils';

.post {
  @include core-width();
  padding: 30px;
  margin-bottom: 30px;

  position: relative;
  background: white;
  border-radius: 3px;
}

.withShadow {
  @include shadow();
}

.welcomeEmoji {
  font-size: 30px;
  line-height: 1;
}

.readMore {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
  font-size: 0.65rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.footer p {
  margin: 0.25rem 2em 0 0;

  @media (min-width: 800px) {
    margin-top: 0;
  }
}

.tags {
  flex-grow: 1;
  width: 100%;
  margin-top: 0.25rem;

  @media (min-width: 800px) {
    margin-top: 0;
    width: 50%;
  }
}
