.modal {
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  margin: 5px auto;
  background: white;
  position: relative;
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 800px) {
    max-width: 50%;
    min-width: 650px;
    max-height: 90%;
    margin-top: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close {
  background-color: white;
  border-radius: 100%;
  border: 3px solid black;
  cursor:pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  line-height: 0px;
  margin-right:-30px;
  margin-top:-30px;
  padding: 10px 0px;
  position: absolute;
  text-align: center;
  transform: rotate(45deg);
  top: 40px;
  right: 40px;
  width: 30px;
}

.modalTitle {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.prose {
  & * {
    font-size: 0.8rem;
  }

  li {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 10px;
  }
}
