@import '../styles/colors';

.background {
  background: $grey;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: $graphite;

  padding: 0.5rem 80px 0.25rem 80px;
  font-weight: normal;

  a {
    text-decoration: none;
    font-size: 0.6rem;
    text-align: center;
    color: $darker-graphite;

    &:visited {
      color: $darker-graphite;
    }
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-left: 0px;
  padding-right: 0px;

  @media (min-width: 800px) {
    max-width: 700px;
  }
}
