@import '../styles/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  color: $graphite;
  margin-top: 0.5rem;

  @media (min-width: 800px) {
    width: 40%;
  }

  a {
    text-decoration: none;
    font-size: 0.6rem;
    text-align: center;
    color: $graphite;

    &:visited {
      color: $graphite;
    }
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  @media (min-width: 800px) {
    max-width: 700px;
  }
}
