.splitContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.splitImage {
  display: none;

  @media (min-width: 800px) {
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: block;
  }
}

.splitContent {
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 800px) {
    width: 50%;
    min-height: 100vh;
    padding: 0 80px;
    overflow: auto;
  }
}

