@import '../styles/colors';

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px ,1fr));
  grid-gap: 0.25rem;
}

.tag {
  color: $darker-graphite;
  border: 1px solid $graphite;
  text-decoration: none;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 0.5rem;

  &:hover {
    color: black;
    border-color: black;
    background-color: $light-grey;
  }
}

.tagLabel {
  background: $light-blue;
  border-radius: 3px;
  padding: 4px 7px;
}

.blue .tag {
  color: $blue;
  border: 1px solid $blue;
}
