@import '../styles/colors';

.tags {
  margin-top: 0.75rem;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.tag {
  margin: 5px;
  color: $darker-graphite;
  border: 1px solid $graphite;
  text-decoration: none;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 0.5rem;

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    color: black;
    border-color: black;
  }
}
