.splitLists {
  display: flex;
  margin-bottom: 40px;
  vertical-align: top;
  font-size: 0.75rem;
}

.list {
  margin: 20px 100px 20px 0;
}

.list h1 {
  font-size: 0.65rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.list ol {
  list-style: none;
  margin: 0;
}

.list li {
  margin-bottom: 0.3rem;
}
