@import '../styles/colors';
@import '../styles/utils';

.title {
  @include core-width();

  strong {
    color: $blue;
  }
}

.subtitle {
  @include core-width();
  font-style: italic;
  font-weight: lighter;

  strong {
    color: $blue;
  }
}
