@import '../styles/colors';
@import '../styles/utils';

.title {
  @include core-width();
  text-align: center;

  strong {
    color: $blue;
  }
}

.subtitle {
  @include core-width();
  font-style: italic;
  font-weight: lighter;
  text-align: center;

  strong {
    color: $blue;
  }
}
