<!DOCTYPE html>
<html lang="en">
{%- if page %}
	{%- set resource = page %}
{%- elif section %}
	{%- set resource = section %}
{%- endif %}
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' stats.felipesere.com 'sha256-CMynFB9WvpyTI0WuEiaFr0p1H3rVTgy/nEgLEsn8Qec='; connect-src stats.felipesere.com; style-src 'self' 'nonce-PkGLWAKFk8Tbivx1YCwI'">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ resource.description }}">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/main.css">
  <script async defer data-domain="felipesere.com" src="https://plausible.io/js/script.js"></script>
  <title>Felipe Seré</title>
  <script async defer src="/js/darkmode.js"></script>
</head>

<body color-mode="light">
  <div class="main center">
    <aside>
      <button type="button" class="dark--hidden dark-mode-toggle-btn">
        <span role="img" aria-hidden="true">🌛</span>
        Dark mode
      </button>
      <button type="button" class="light--hidden dark-mode-toggle-btn">
        <span role="img" aria-hidden="true">☀️</span>
        Light mode
      </button>
    </aside>

    <nav class="horizontal space-between text-gray-300">
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/garden">Garden</a>
      <a href="/about">About</a>
      <a href="/design">Design</a>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p class="text-gray-500 text-center">Felipe Seré © 2021</p>
    </footer>
  </div>
</body>
</html>
