{% extends "base.html" %}

{% block content %}
    <style nonce="PkGLWAKFk8Tbivx1YCwI">
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: var(--s1);
        }

        .columns {
            column-width: 200px;
            column-gap: var(--s0);
        }

        .boxed {
            border: var(--s-3) solid var(--gray-900);
            background-color: var(--c-background);
            padding: var(--s-3);
        }

        .box-background {
            background-color: var(--gray-100);
        }

        .inline {
            display: inline;
        }

        .inline-block {
            display: inline-block;
        }

        .m-5 {
            margin-left: var(--s-5);
        }

        .m-4 {
            margin-left: var(--s-4);
        }

        .m-3 {
            margin-left: var(--s-3);
        }

        .m-2 {
            margin-left: var(--s-2);
        }

        .m-1 {
            margin-left: var(--s-1);
        }

        .m0 {
            margin-left: var(--s0);
        }

        .m1 {
            margin-left: var(--s1);
        }

        .m2 {
            margin-left: var(--s2);
        }

        .m3 {
            margin-left: var(--s3);
        }

        .m4 {
            margin-left: var(--s4);
        }

        .m5 {
            margin-left: var(--s5);
        }
    </style>
    <div class="stack">
        <section>
          <h1>Welcome to my design page</h1>
          <p>
          This page shows off some of the design elements used on this page.
          The "boxy" style is copied from <a href="https://twitter.com/heydonworks">Heydon Pickering</a> & <a href="https://twitter.com/hankchizljaw">Andy Bell</a> <a href="https://every-layout.dev">every-layout.dev</a>.
          That is also where the <code>.stack</code>, <code>.center</code>, and some other classes come from.
          I highly suggest to check it out.
          </p>
        </section>
        <section>
            <h2>Text colors</h2>
            <p>
                Simple color palette that gets inverted for dark mode.
                The <span class="text-brand">brand color</span> stays across both color modes.
            </p>
            <div>
                {% for shade in [50, 100, 200, 300, 400, 500, 600, 700, 800, 900] %}
                    <code class="text-gray-{{ shade }}">
                        .text-gray-{{ shade }}
                    </code>
                {% endfor %}
                <code class="text-brand">.text-brand</code>
            </div>
        </section>

        <section>
            <h2>Text styles</h2>
            <p>
                Minimal text styles too allow some highlighting but keep a focus on simolicity and clarity.
            </p>
            <div class="stack-small">
                <div class="boxed">
                    <p>This is normal text</p>
                </div>
                <div class="boxed">
                    <p class="text-center">This is using<code> .text-center</code></p>
                </div>

                <div class="boxed">
                    <p class="text-lighter">This is using<code> .text-lighter</code></p>
                </div>

                <div class="boxed">
                    <p class="uppercase inline">This is using</p><code> .uppercase</code>
                </div>
                <div class="boxed">
                    <code>This is &lt;/code &gt;</code>
                </div>
            </div>
        </section>

        <section>
            <h2>Spacing</h2>
            <div class="stack">
                <div class="stack-small">
                    <p>
                        A <em>perfect fifth</em> spacing scale, here applied to <code>margin-left</code> for demonstration.
                        All margins and paddings are based on the scale below to give a consistent clean look.
                    </p>
                    <div class="columns stack-small">
                        {% for size in [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5] %}
                            <div class="box-background">
                                <p class="boxed inline-block m{{- size -}}"><code>--s{{- size -}}</code></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h3><code>.stack-small</code></h3>
                    <p>The based on the <code>.stack</code> from every-layout.dev but with a vertical space of <code>--s1</code></p>
                    <div class="stack-small box-background">
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                    </div>
                </div>

                <div>
                    <h3><code>.stack</code></h3>
                    <p>The larger of the two stacks, using <code>--s3</code> to give separated items more empty space.</p>
                    <div class="stack box-background">
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                        <div class="boxed">Child</div>
                    </div>
                </div>

                <div class="stack-small">
                    <div>
                        <h3><code>.horizontal .space-evenly</code></h3>
                        <p>Used space out the social networkling icons evenly on a line.</p>
                        <div class="horizontal space-evenly box-background">
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                        </div>
                    </div>

                    <div>
                        <h3><code>.horizontal .space-between</code></h3>
                        <p>Used to space the navbar out, ensuring there is an item on each edge</p>
                        <div class="horizontal space-between box-background">
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                            <div class="boxed">Child</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
